/* Remove default bullets */
ul,
#myUL {
    list-style-type: none;
}

body {
    background: red;
}


/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
    /* background: red; */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

/* Create the Plus/Add sign with a unicode, and style it */
.add-item .caret::before {
    content: "\2795";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the Plus/Add icon when clicked on (using JavaScript) */
.add-item .caret-down::before {
    transform: rotate(45deg);
}
